.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
  background: $shade;
  padding: 0.35em 0.5em;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-bottom: 0.5em;
}

.label {
  font-size: 0.8em;
  color: $muted;
}

.input {
  background: $shade;
  width: 100%;

  &[type="text"] {
    border-bottom: 2px solid $muted;
    padding-bottom: 0.25em;
    font-size: 1.1em;
  }

  &:focus {
    border-color: $primary;

    & + .label {
      color: $primary;
    }
  }
}
